In [1]:
# WEEK 1

# Importing necessary libraries
import pandas as pd
import numpy as np 

from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv(r'dataset.csv', sep=';')
print(df)

      id        date    NH4  BSK5  Suspended     O2    NO3    NO2     SO4  \
0      1  17.02.2000  0.330  2.77       12.0  12.30   9.50  0.057  154.00
1      1  11.05.2000  0.044  3.00       51.6  14.61  17.75  0.034  352.00
2      1  11.09.2000  0.032  2.10       24.5   9.87  13.80  0.173  416.00
3      1  13.12.2000  0.170  2.23       35.6  12.40  17.13  0.099  275.20
4      1  02.03.2001  0.000  3.03       48.8  14.69  10.00  0.065  281.60
...   ..         ...    ...   ...        ...    ...    ...    ...     ...
2856  22  06.10.2020  0.046  2.69        3.6   8.28   3.80  0.038  160.00
2857  22  27.10.2020  0.000  1.52        0.5  11.26   0.56  0.031  147.20
2858  22  03.12.2020  0.034  0.29        0.8  11.09   2.58  0.042  209.92
2859  22  12.01.2021  0.000  2.10        0.0  14.31   3.94  0.034  121.60
2860  22  10.02.2021  0.000  1.78        0.0  14.30   6.30  0.033  134.40

        PO4       CL
0     0.454   289.50
1     0.090  1792.00
2     0.200  2509.00
3     0.377  1264.00
4     0.134  1462.00
...     ...      ...
2856  0.726    77.85
2857  0.634    71.95
2858  0.484    61.17
2859  0.424    63.49
2860  0.582    66.31

[2861 rows x 11 columns]

In [3]:
#Information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   object
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 246.0+ KB
None

In [4]:
#r Rows and columns
print(df.shape)

(2861, 11)

In [5]:
# Stats of dataset
print(df.describe().T)

            count       mean         std   min      25%     50%       75%  \
id         2861.0  12.397064    6.084226  1.00   8.0000  14.000  16.00000
NH4        2858.0   0.758734    2.486247  0.00   0.0800   0.220   0.50000
BSK5       2860.0   4.316182    2.973997  0.00   2.1600   3.800   5.80000
Suspended  2845.0  12.931905   16.543097  0.00   6.0000  10.000  15.00000
O2         2858.0   9.508902    4.428260  0.00   7.0925   8.995  11.52000
NO3        2860.0   4.316846    6.881188  0.00   1.3900   2.800   5.58250
NO2        2858.0   0.246128    2.182777  0.00   0.0300   0.059   0.12575
SO4        2812.0  59.362313   96.582641  0.00  27.0525  37.800  64.64000
PO4        2833.0   0.418626    0.771326  0.00   0.1300   0.270   0.47000
CL         2812.0  93.731991  394.512184  0.02  26.8000  33.900  45.60750

                max
id           22.000
NH4          39.427
BSK5         50.900
Suspended   595.000
O2           90.000
NO3         133.400
NO2         109.000
SO4        3573.400
PO4          13.879
CL         5615.280

In [6]:
# Check for Missing values
print(df.isnull().sum())

id            0
date          0
NH4           3
BSK5          1
Suspended    16
O2            3
NO3           1
NO2           3
SO4          49
PO4          28
CL           49
dtype: int64

In [7]:
# date is in datetime format
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   datetime64[ns]
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 246.0 KB
None

In [8]:
# Short dataset

df = df.sort_values(by= ['id', 'date'])
print(df.head())

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
print(df.head())

print(df.columns)

   id       date    NH4  BSK5  Suspended     O2    NO3    NO2    SO4    PO4  \
0   1 2000-02-17  0.330  2.77       12.0  12.30   9.50  0.057  154.0  0.454
1   1 2000-05-11  0.044  3.00       51.6  14.61  17.75  0.034  352.0  0.090
2   1 2000-09-11  0.032  2.10       24.5   9.87  13.80  0.173  416.0  0.200
3   1 2000-12-13  0.170  2.23       35.6  12.40  17.13  0.099  275.2  0.377
4   1 2001-03-02  0.000  3.03       48.8  14.69  10.00  0.065  281.6  0.134

       CL
0   289.5
1  1792.0
2  2509.0
3  1264.0
4  1462.0
   id       date    NH4  BSK5  Suspended     O2    NO3    NO2    SO4    PO4  \
0   1 2000-02-17  0.330  2.77       12.0  12.30   9.50  0.057  154.0  0.454
1   1 2000-05-11  0.044  3.00       51.6  14.61  17.75  0.034  352.0  0.090
2   1 2000-09-11  0.032  2.10       24.5   9.87  13.80  0.173  416.0  0.200
3   1 2000-12-13  0.170  2.23       35.6  12.40  17.13  0.099  275.2  0.377
4   1 2001-03-02  0.000  3.03       48.8  14.69  10.00  0.065  281.6  0.134

       CL  year  month
0   289.5  2000      2
1  1792.0  2000      5
2  2509.0  2000      9
3  1264.0  2000     12
4  1462.0  2001      3
Index(['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL', 'year', 'month'],
      dtype='object')

In [9]:
# Pollutants

pollutants = [ 'O2','NO3','NO2','NH4','SO4','PO4','CL']
print(pollutants)

['O2', 'NO3', 'NO2', 'NH4', 'SO4', 'PO4', 'CL']

In [10]:
# WEEK 2

# Drop the missing values

df = df.dropna(subset=pollutants)
print(df.head())

print(df.isnull().sum())

   id       date    NH4  BSK5  Suspended     O2    NO3    NO2    SO4    PO4  \
0   1 2000-02-17  0.330  2.77       12.0  12.30   9.50  0.057  154.0  0.454
1   1 2000-05-11  0.044  3.00       51.6  14.61  17.75  0.034  352.0  0.090
2   1 2000-09-11  0.032  2.10       24.5   9.87  13.80  0.173  416.0  0.200
3   1 2000-12-13  0.170  2.23       35.6  12.40  17.13  0.099  275.2  0.377
4   1 2001-03-02  0.000  3.03       48.8  14.69  10.00  0.065  281.6  0.134

       CL  year  month
0   289.5  2000      2
1  1792.0  2000      5
2  2509.0  2000      9
3  1264.0  2000     12
4  1462.0  2001      3
id           0
date         0
NH4          0
BSK5         0
Suspended    2
O2           0
NO3          0
NO2          0
SO4          0
PO4          0
CL           0
year         0
month        0
dtype: int64

In [11]:
# Features and Target Selection
# Feature - Dependent Variable and Target - Independent Variable
x = df[['id', 'year']]
y = df[pollutants]

# Encodding  - onehotender 
# example : we have 22 stationand for station 1 it gives 1 and  for other remailning it is 0
# similary for station 2 it gives 1 and  for other remailning it is 0

x_encoded = pd.get_dummies(x, columns=['id'], drop_first=True)
print(x_encoded.head())

   year   id_2   id_3   id_4   id_5   id_6   id_7   id_8   id_9  id_10  ...  \
0  2000  False  False  False  False  False  False  False  False  False  ...
1  2000  False  False  False  False  False  False  False  False  False  ...
2  2000  False  False  False  False  False  False  False  False  False  ...
3  2000  False  False  False  False  False  False  False  False  False  ...
4  2001  False  False  False  False  False  False  False  False  False  ...

   id_13  id_14  id_15  id_16  id_17  id_18  id_19  id_20  id_21  id_22
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False  False  False

[5 rows x 22 columns]

In [12]:
# Train Test Split

x_train, x_test, y_train, y_test = train_test_split(
    x_encoded, y, test_size=0.2, random_state=30
    )

print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(2222, 22) (556, 22) (2222, 7) (556, 7)

In [13]:

# Train the model
model = MultiOutputRegressor(RandomForestRegressor(n_estimators=100, random_state=30))
model.fit(x_train, y_train)

print(model)

MultiOutputRegressor(estimator=RandomForestRegressor(random_state=30))

In [14]:
# Evaluate model
y_pred = model.predict(x_test)

In [15]:
print("Model Performance on Data:")
for i, pollutant in enumerate(pollutants):
    print(f'{pollutant} :')
    print('     MSE : ', mean_squared_error(y_test.iloc[:, i], y_pred[:, i]))
    print('     R2  : ', r2_score(y_test.iloc[:, i], y_pred[:, i]))

Model Performance on Data:
O2 :
     MSE :  15.356771061910036
     R2  :  -0.23519359663173933
NO3 :
     MSE :  15.249748538389527
     R2  :  0.2437749183580169
NO2 :
     MSE :  4.479539340299158
     R2  :  -9.468673899139464
NH4 :
     MSE :  1.4167798129431093
     R2  :  0.6020540538710478
SO4 :
     MSE :  3937.4037014146825
     R2  :  0.2237143891172455
PO4 :
     MSE :  0.19029809298888703
     R2  :  0.5448278579506476
CL :
     MSE :  36967.52840059383
     R2  :  0.7555297921222058

In [16]:
# Pridicting on new data

station_id = '22' # replace with the station id you want to predict
year_input = 2023 # replace with the year you want to predict


# Creating a DataFrame for the new input

input_data = pd.DataFrame({'year': [year_input], 'id': [station_id]})
input_encodeded = pd.get_dummies(input_data, columns=['id'])

# Aligning the training feature columns

missing_cols = set(x_encoded.columns) - set(input_encodeded.columns)
for col in missing_cols:
    input_encodeded[col] = 0
input_encodeded = input_encodeded[x_encoded.columns]  # recorder column

# Predicting the pollutants for the new input

predicted_pollutants = model.predict(input_encodeded)[0]

print(f"Pridicted Pollutants for Station ID {station_id} in Year {year_input}:")
for pollutant, value in zip(pollutants, predicted_pollutants):
    print(f"{pollutant}: {value:.2f}")

Pridicted Pollutants for Station ID 22 in Year 2023:
O2: 13.72
NO3: 5.34
NO2: 0.05
NH4: 0.01
SO4: 136.83
PO4: 0.42
CL: 65.32

In [17]:
# Save the model
import joblib
joblib.dump(model, 'water_quality_model.pkl')
joblib.dump(x_encoded.columns.tolist(), 'feature_columns.pkl')
print("Model and feature columns saved successfully.")

Model and feature columns saved successfully.